body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo img {
  width: 80px;
  height: 80px;
}

.topo {
  margin-top: 28px;
}

.logotipo {
  width: 50px;
  height: 50px;
}

.logotipo-texto {
  font-size: 42px;
  font-weight: bold;
}

.login {
  width: 50%;
  margin: auto;
  text-align: center;
}

.login input {
  margin-bottom: 20px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
